{% extends "base_generic.html" %}

{% block content %}
    <div class="sub-container">
        <div class="sub-container-title">✏ Administration</div>

        <br>
        <table id="main_table" class="table_color_none" style="width: auto">
            <tr>
                <td>
                    Countries
                </td>
                <td>
                    <a href="#" class="addlink" onclick="add('country'); return false;">Add</a>
                </td>
                <td>
                    {# <a href="#" class="changelink">Change</a> #}
                </td>
            </tr>
            <tr>
                <td>
                    Guides
                </td>
                <td>
                    <a href="#" class="addlink" onclick="add('guide'); return false;">Add</a>
                </td>
                <td>
                    {# <a href="#" class="changelink">Change</a> #}
                </td>
            </tr>
            <tr>
                <td>
                    Languages
                </td>
                <td>
                    <a href="#" class="addlink" onclick="add('language'); return false">Add</a>
                </td>
            </tr>
            <tr>
                <td>
                    Language to Country
                </td>
                <td>
                    <a href="#" class="addlink" onclick="add('lang_country'); return false">Add</a>
                </td>
            </tr>
        </table>

    </div>

    <div id="dialog_c" style="display: none">
    </div>

    <div id="dialog_g" style="display: none">
    </div>

    <div id="dialog_l" style="display: none">
    </div>

    <div id="dialog_lc" style="display: none">
    </div>

    <script>

        let form_country = '<form action="/add_country/" method="post">' +
            '{% csrf_token %}' +
            'Country name:<br>' +
            '<input name="country_name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">' +
            '<br>Short description:<br>' +
            '<textarea name="short_description" style="width:400px; height:100px"></textarea>' +
            '<br>National currency:<br>' +
            '<input name="national_currency" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"  >' +
            '<br><br>' +
            '<button type="submit" class="button-style">Add</button>' +
            '</form>';

        let form_guide = '<form action="/add_guide/" method="post">' +
            '{% csrf_token %}' +
            'Title:<br>' +
            '<input name="title">' +
            '<br>Short summary:<br>' +
            '<textarea name="short_summary" style="width:400px; height:100px"></textarea>' +
            '<br>Text:<br>' +
            '<textarea name="body_text" style="width:400px; height:300px"></textarea>' +
            '<br>' +
            '<button type="submit" class="button-style">Add</button>' +
            '</form>';

        let form_language = '<form action="/add_language/" method="post">' +
            '{% csrf_token %}' +
            'Language name:<br>' +
            '<input name="language_name">' +
            '<br>' +
            '<button type="submit" class="button-style">Add</button>' +
            '</form>';

        let form_lang_country = '<form action="/connect_lang_country/" method="post">' +
            '{% csrf_token %}' +
            'Language:<br>' +
            '<select id="language_select" name="language_select">' +
            '{% for lang in languages %} b' +
            '<option value="{{ lang.0 }}">{{ lang.1 }}</option>' +
            '{% endfor %} ' +
            '</select><br><br> ' +

            'Country:<br>' +
            '<select id="country_select" name="country_select" style="height: 30px;">' +
            '{% for country in countries %} b' +
            '<option value="{{ country.0 }}">{{ country.1 }}</option>' +
            '{% endfor %} ' +
            '</select><br> ' +

            '<br>' +
            '<button type="submit" class="button-style">Add</button>' +
            '</form>';

        function add(to) {
            switch (to) {
                case "country":
                    $('#dialog_c').prop('title', 'Add new country');
                    $('#dialog_c').html(form_country);

                    $("#dialog_c").dialog({
                        width: 550,
                        modal: true,
                        position: {my: "center", at: "top+300", of: window}
                    });

                    break;

                case "guide":
                    $('#dialog_g').prop('title', 'Add new guide');
                    $('#dialog_g').html(form_guide);

                    $("#dialog_g").dialog({
                        width: 550,
                        modal: true,
                        position: {my: "center", at: "top+400", of: window}
                    });

                    break;

                case "language":
                    $('#dialog_l').prop('title', 'Add new language');
                    $('#dialog_l').html(form_language);

                    $("#dialog_l").dialog({
                        width: 550,
                        modal: true,
                        position: {my: "center", at: "top+400", of: window}
                    });

                    break;

                case "lang_country":
                    $('#dialog_lc').prop('title', 'Add new language to country connection');
                    $('#dialog_lc').html(form_lang_country);

                    $("#dialog_lc").dialog({
                        width: 550,
                        modal: true,
                        position: {my: "center", at: "top+400", of: window}
                    });

                    break;
            }
        }
    </script>
{% endblock %}

