<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Hitchify</title>{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
</head>
<body>
  <div class="container">
      {% block sidebar %}
      <div class="sidebar">
          <div class="sidebar-member workspace-label" >
            <img src="{% static 'logo.png' %}" width="30px" /><span style="margin-left: 5px; margin-top: 4px; font-size: 21px">Hitchify</span>
          </div>
      {% if user.is_authenticated %}
          <a href="{% url 'map' %}">
            <div class="sidebar-member" >
                <span class="sidebar-member-icon">🗺️</span>
                <span class="sidebar-member-label">Map</span>
            </div>
          </a>
          <a href="{% url 'countries' %}">
            <div class="sidebar-member" >
                <span class="sidebar-member-icon">🌐</span>
                <span class="sidebar-member-label">Countries</span>
            </div>
          </a>
{#          <a href="{% url 'hitchspots' %}">#}
{#            <div class="sidebar-member">#}
{#                <span class="sidebar-member-icon">📌</span>#}
{#                <span class="sidebar-member-label">Hitchspots</span>#}
{#            </div>#}
{#          </a>#}
{#          <a href="{% url 'forum' %}">#}
{#            <div class="sidebar-member">#}
{#                <span class="sidebar-member-icon">💬</span>#}
{#                <span class="sidebar-member-label">Forum</span></div>#}
{#          </a>#}
{#          <a href="{% url 'guides' %}">#}
{#            <div class="sidebar-member"><span class="sidebar-member-icon">📝</span><span#}
{#                    class="sidebar-member-label">Guides</span></div>#}
{#          </a>#}
      {% endif %}
          <a href="{% url 'login' %}">
            <div class="sidebar-member chosen"><span class="sidebar-member-icon">🔑</span><span
                    class="sidebar-member-label">Login</span></div>
          </a>
          <div class="sidebar-user-label">
            <div class="sidebar-member"><span class="sidebar-member-icon">👋</span><span
                    class="sidebar-member-label">Hi,
                        {% if user.is_authenticated %}
							{{ user.get_username }}
                        {% else %}
							Stranger
                        {% endif %}
                <span class="username"></span></span></div>
          </div>
      </div>
      {% endblock %}

      <div class="frame">
          {% block content %}{% endblock %}
      </div>
	  
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
</body>
</html>