<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Hitchify</title>{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
</head>
<body>
  <div class="container">
      {% block sidebar %}
      <div class="sidebar">
          <div class="sidebar-member workspace-label" >
            <img src="../static/logo.png" width="30px" /><span style="margin-left: 5px; margin-top: 4px; font-size: 21px">Hitchify</span>
          </div>
          <a href="{% url 'index' %}">
            <div class="sidebar-member" >
                <span class="sidebar-member-icon">🗺️</span>
                <span class="sidebar-member-label">Map</span>
            </div>
          </a>
          <a href="{% url 'index' %}">
            <div class="sidebar-member" >
                <span class="sidebar-member-icon">🌐</span>
                <span class="sidebar-member-label">Countries</span>
            </div>
          </a>
          <a href="{% url 'index' %}">
            <div class="sidebar-member">
                <span class="sidebar-member-icon">📌</span>
                <span class="sidebar-member-label">Hitchspots</span>
            </div>
          </a>
          <a href="{% url 'index' %}">
            <div class="sidebar-member">
                <span class="sidebar-member-icon">💬</span>
                <span class="sidebar-member-label">Forum</span></div>
          </a>
          <a href="{% url 'index' %}">
            <div class="sidebar-member"><span class="sidebar-member-icon">📝</span><span
                    class="sidebar-member-label">Guides</span></div>
          </a>
          <a href="{% url 'login' %}">
            <div class="sidebar-member chosen"><span class="sidebar-member-icon">🔑</span><span
                    class="sidebar-member-label">Login</span></div>
          </a>
          <div class="sidebar-user-label">
            <div class="sidebar-member"><span class="sidebar-member-icon">👋</span><span
                    class="sidebar-member-label">Hi,
                        {% if user.is_authenticated %}
                        {{ user.get_username }}
                        {% else %}
                        Stranger
                        {% endif %}
                <span class="username"></span></span></div>
          </div>
      </div>
      {% endblock %}

      <div class="frame">
          {% block mainframe %}{% endblock %}
      </div>
{#    <div class="row">#}
{#      <div class="col-sm-2">#}
{#      {% block sidebar %}#}
{#        <ul class="sidebar">#}
{#          <li><a href="{% url 'index' %}">Home</a></li>#}
{#          <li><a href="">All books</a></li>#}
{#          <li><a href="">All authors</a></li>#}
{#        </ul>#}
{#      {% endblock %}#}
{#      </div>#}
{#      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>#}
{#    </div>#}
  </div>
</body>
</html>