{% extends "base_generic.html" %}

{% block content %}
    <div class="sub-container">

        <table style="width:auto">
            <tr>
                <td style="border-color:rgb(47, 52, 55)">
                    <div class="sub-container-title">
                        <span class="countryname" id="country_title">{{ country.country_name }}</span>
                    </div>
                </td>
                <td style="border-color:rgb(47, 52, 55)" valign="top">
                    <div style="margin:16px 0 0 0px">
                        <a href="{% url 'map_country' country.id %}">
                            <button class="button-style">Show on Map</button>
                        </a>
                    </div>
                </td>
            </tr>
        </table>

        {% if perms.hitchify.change_country %}
            <div>
                <a href="#" class="changelink" onclick="edit(); return false;">Edit</a>
            </div>
        {% endif %}

        <br>
        <div>ℹ️ <span id="country_short_description">{{ country.short_description }}</span></div>
        <br>
        <div>🗣️ Languages:
            {% for lang in country.languages %}
                {{ lang }};
            {% endfor %}
        </div>
        <div>💶 Currency: <span id="country_national_currency">{{ country.national_currency }}</span></div>
        <div>⭐ Hitchrating:
            {% if country.hitchrating == None %}
                No rating yet! Contribute by adding your hitchspots.
            {% else %}
                {{ country.hitchrating }}
            {% endif %}
        </div>

        <br>
        🦸🏾 Experts: <br>
        {% for expert in country.expert_users %}
        {{ expert.0 }} <br>
        {% endfor %}

        <br><br>
        🦈 Most active users: <br>
        {% for mau in country.most_active_user %}
        {{ mau.0 }} <br>
        {% endfor %}

        <div class="tab">
            <button id="button_1" class="tablinks active" onclick="openTab(1,'country-hitchspots')">Hitchspots</button>
            <button id="button_2" class="tablinks" onclick="openTab(2, 'country-posts')">Posts</button>
        </div>

        <div id="country-hitchspots" class="tabcontent">
            <div class="top-toolbar" style="margin-top: 0">
{#                <form id="filter-hitchspot">#}
                    <input class="input_black" id="filter_query_hs" name="query" placeholder="Query">
                    <select class="select_black" id="filter_select_hs" name="select">
                        {# <option>Date</option> #}
                        <option value="1" selected>Hitchability</option>
                        <option value="2">Waiting time</option>
                    </select>
                    <button onclick="filter_hs()" type="submit" class="button-style">Filter</button>
{#                </form>#}
            </div>
            <table class="table" id="table_hs">
                <thead>
                <tr>
                    <th>🧭 Coordinates</th>
                    <th>🔍 Description</th>
                    <th>👍 Hitchability</th>
                    <th>🕑 Waiting time</th>
                    <th>📆 Created</th>
                    <th>📆 Updated</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="hitchspots-grid">
                {% for spot in country.hitchspots %}
                    <tr id="hs_{{ spot.id }}">
                        <td>{{ spot.latitude }};
                            {{ spot.longitude }}</td>
                        <td>{{ spot.description }}</td>
                        <td attr_ah="{{ spot.id }}">{{ spot.avg_hitchability }}</td>
                        <td attr_aw="{{ spot.id }}">{{ spot.avg_waiting_time }}</td>
                        <td>{{ spot.creation_date }}</td>
                        <td>{{ spot.last_update }}</td>
                        <td>
                            <a href="{% url 'map_country' country.id %}">
                                <button id="add-hitchspot" class="button-style">Open</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="bottom-toolbar">
                <a href="{% url 'map_country' country.id %}">
                    <button id="add-hitchspot" class="button-style">Add</button>
                </a>
            </div>
        </div>

        <div id="country-posts" class="tabcontent">
            <div class="top-toolbar" style="margin-top: 0">
                {# <form id="filter-posts"> #}
                    <input class="input_black" id="filter_query" name="query" placeholder="Query">
                    <select class="select_black" id="filter_select" name="select">
                        <option value="1" selected>Title</option>
                        <option value="2">Author</option>
                    </select>
                    <button onclick="filter()" type="submit" class="button-style">Filter</button>
                {# </form> #}
            </div>

            <table id="table_post" class="table">
                <thead>
                <tr>
                    <th>🔖 Title</th>
                    <th>👤 Author</th>
                    <th>📆 Created</th>
                    <th>📆 Updated</th>
                    <th>❤ Likes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="posts-grid">
                {% for post in country.forum_posts %}
                    <tr id="post_{{ post.id }}">
                        <td attr_title="{{ post.id }}">{{ post.title }}</td>
                        <td attr_user="{{ post.id }}">{{ post.username }}</td>
                        <td>{{ post.creation_date }}</td>
                        <td>
                            {% if post.last_update is not None %}
                                {{ post.last_update }}
                            {% else %}
                                -/-
                            {% endif %}
                        </td>
                        <td>
                            {% if post.likes is not None %}
                                {{ post.likes }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'post' post.id %}">
                                <button type="submit" class="button-style">Open</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="bottom-toolbar">
                <form action="{% url 'add_post' country.id %}"
                      method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="button-style">Add</button>
                </form>
            </div>

        </div>
    </div>

    <div id="dialog" style="display: none">
    </div>

    <script>
        function filter() {
            let filter = $('#filter_select').val();
            let filter_query = $('#filter_query').val();

            if (filter == 1) {
                $('#table_post td[attr_title]').each(function (index, element) {
                    let str = $(element).html();

                    if (!str.match(filter_query)) {
                        $('#post_'+$(element).attr('attr_title')).hide();
                    } else {
                        $('#post_'+$(element).attr('attr_title')).show();
                    }
                });
            } else {
                $('#table_post td[attr_user]').each(function (index, element) {
                    let str = $(element).html();

                    if (!str.match(filter_query)) {
                        $('#post_'+$(element).attr('attr_user')).hide();
                    } else {
                        $('#post_'+$(element).attr('attr_user')).show();
                    }
                });
            }
        }

        function filter_hs() {
            let filter = $('#filter_select_hs').val();
            let filter_query = $('#filter_query_hs').val();

            if (filter == 1) {
                $('#table_hs td[attr_ah]').each(function (index, element) {
                    let str = $(element).html();

                    if (!str.match(filter_query)) {
                        $('#hs_'+$(element).attr('attr_ah')).hide();
                    } else {
                        $('#hs_'+$(element).attr('attr_ah')).show();
                    }
                });
            } else {
                $('#table_hs td[attr_aw]').each(function (index, element) {
                    let str = $(element).html();

                    if (!str.match(filter_query)) {
                        $('#hs_'+$(element).attr('attr_aw')).hide();
                    } else {
                        $('#hs_'+$(element).attr('attr_aw')).show();
                    }
                });
            }
        }

        function openTab(evt, tabName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");

            let ii = 0;
            if (evt == 1) {
                ii = 1;
            }

            for (i = ii; i < tablinks.length; i++) {

                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            $('#button_'+evt).addClass('active');
        }

        let doc_url = document.location.href+'';

        if (doc_url.match(/posts$/) != null) {
            openTab(2, 'country-posts');
        } else {
            openTab(1, 'country-hitchspots');
        }

        let form_country = '<form action="/country/{{ country.id }}/edit" method="post">' +
            '{% csrf_token %}' +
            'Country name:<br>' +
            '<input name="country_name" id="edit_title">' +
            '<br>Short description:<br>' +
            '<textarea name="short_description" style="width:400px; height:100px" id="edit_short_description"></textarea>' +
            '<br>National currency:<br>' +
            '<input id="edit_national_currency" name="national_currency">' +
            '<br>' +
            '<button type="submit" class="button-style">Edit</button>' +
            '</form>';

        function edit() {
            $('#dialog').prop('title', 'Edit country');
            $('#dialog').html(form_country);

            $('#edit_title').val($('#country_title').html());
            $('#edit_short_description').val($('#country_short_description').html());
            $('#edit_national_currency').val($('#country_national_currency').html());


            $("#dialog").dialog({
                width: 550,
                position: { my: "center", at: "top+450", of: window }
            });
        }


    </script>

{% endblock %}

