{% extends "base_generic.html" %}

{% block content %}
<div class="sub-container">
    <div class="sub-container-title">Guide: {{ guide.title }}</div>

    <div class="properties-holder">

{#        <div class="property">#}
{#            <div class="property-name"><span class="property-icon">🔖</span>Title</div>#}
{#            <div id="title" contenteditable="true" spellcheck="false" class="property-value text-property"></div>#}
{#        </div>#}

        <div class="property">
            <div class="property-name"><span class="property-icon">📆</span>Creation Date</div>
            <div id="created" class="property-value">{{ guide.creation_date }}</div>
        </div>

        <div class="property">
            <div class="property-name"><span class="property-icon">📆</span>Last Update Date</div>
            <div id="updated" class="property-value">{{ guide.update_date }}</div>
        </div>

        <div class="ticket-content-holder">
            <span spellcheck="false" contenteditable="true" id="short_summary" class="highlight">
                {{ guide.short_summary }}
            </span>
        </div>


        <div class="ticket-content-holder">
            <span spellcheck="false" contenteditable="true" id="body_text" class="highlight">
                {{ guide.body_text }}
            </span>
        </div>

        <button class=" button-style" style="margin-top: 10px;" id="save">Save</button>

    </div>

</div>
{% endblock %}
