{% extends "base_generic.html" %}

{% block content %}
<div class="sub-container">
    <div class="sub-container-title">📌 Hitchspots</div>

    <div class="top-toolbar" style="display: block; height: auto">
        <div style="margin:5px">
            {% if filters.country != '' %}
                Country: {{ filters.country }}
            {% endif %}

            {% if filters.hitchability != '' %}
                Hitchability > {{ filters.hitchability }}
            {% endif %}

            {% if filters.waiting_time != '' %}
                Waiting time < {{ filters.waiting_time }}
            {% endif %}

            {% if filters.added != '' %}
                Added by: {{ filters.added }}
            {% endif %}

            {% if filters.country != '' or filters.hitchability != '' or filters.waiting_time != '' or filters.added != '' %}
                <a href="{% url 'hitchspots' %}"><button class="button-style">Clear</button></a>
            {% endif %}
        </div>

        <form id="filter" method="get">
            {% if filters.country != '' %}
                <input type="hidden" name="country" value="{{ filters.country }}">
            {% endif %}

            {% if filters.hitchability != '' %}
                <input type="hidden" name="hitchability" value="{{ filters.hitchability }}">
            {% endif %}

            {% if filters.waiting_time != '' %}
                <input type="hidden" name="waiting_time" value="{{ filters.waiting_time }}">
            {% endif %}

            {% if filters.added != '' %}
                <input type="hidden" name="added" value="{{ filters.added }}">
            {% endif %}

            <input class="input_black" name="query" placeholder="Query">
            <select class="select_black" name="select">
                <option value="country" selected>Country</option>
                <option value="hitchability">Hitchability</option>
                <option value="waiting_time">Waiting time</option>
                <option value="added">Added by</option>
            </select>
            <button type="submit" class="button-style">Filter</button>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>🌐 Country</th>
            <th>🧭 Coordinates</th>
            <th>👍 Hitchability</th>
            <th>🕑 Waiting time</th>
            <th>📆 Created</th>
            <th>📆 Updated</th>
            <th>👤 Added by</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="hitchspots-grid">
            {% for hs in hitchspots %}
            <tr>
                <td>{{ hs.country_name }}</td>
                <td>{{ hs.latitude }};
                    {{ hs.longitude }}</td>
                <td>{{ hs.avg_hitchability }}</td>
                <td>{{ hs.avg_waiting_time }} min</td>
                <td>{{ hs.creation_date }}</td>
                <td>{{ hs.last_update }}</td>
                <td>{{ hs.username }}</td>
                <td>
                    <a href="{% url 'hitchspot' hs.id %}"><button class="button-style">Open</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

