{% extends "base_generic.html" %}

{% block content %}
    <div class="sub-container">

        <div class="sub-container-title">📌 Hitchspot</div>

        <div class="properties-holder" style="max-width: none">

            <table class="table_color_none">
                <tr valign="top">
                    <td>
                        <div class="property">
                            <div class="property-name"><span class="property-icon">🗺️</span>Coordinate</div>
                            <div class="property-value select-property">{{ hitchspot.latitude }}, {{ hitchspot.longitude }}</div>
                        </div>

                        <div class="property">
                            <div class="property-name"><span class="property-icon">🌐</span>Country</div>
                            <div class="property-value select-property"><a
                                    href="{% url 'country' hitchspot.country.id %}">{{ hitchspot.country.country_name }}</a>
                            </div>
                        </div>

                        <div class="property">
                            <div class="property-name"><span class="property-icon">👤</span>Added by</div>
                            <div class="property-value select-property">{{ hitchspot.user.username }}</div>
                        </div>

                        <div class="property">
                            <div class="property-name"><span class="property-icon">👍</span>Hitchability</div>
                            <div class="property-value select-property">{{ hitchspot.avg_hitchability }}</div>
                        </div>

                        <div class="property">
                            <div class="property-name"><span class="property-icon">🕑</span>Waiting time</div>
                            <div class="property-value select-property">{{ hitchspot.avg_waiting_time }}</div>
                        </div>

                        <div class="property">
                            <div class="property-name"><span class="property-icon">📆</span>Creation Date</div>
                            <div id="created" class="property-value">{{ hitchspot.creation_date }}</div>
                        </div>

                        {% if hitchspot.last_update != null %}
                            <div class="property">
                                <div class="property-name"><span class="property-icon">📆</span>Last Update Date</div>
                                <div id="updated" class="property-value">{{ hitchspot.last_update }}</div>
                            </div>
                        {% endif %}

                        {% if user.id != hitchspot.user.id %}
                            <br><br>
                            <div class="property">
                                <a href="#" onclick="add_feedback(); return false" class="button-style">Add your own
                                    feedback</a>
                            </div>
                        {% endif %}

                    </td>
                    <td>
                        <div id="map"></div>
                    </td>
                </tr>
            </table>

            <div class="ticket-content-holder" style="max-width: none">
                <span spellcheck="false" contenteditable="true" id="body-text"
                      class="highlight">{{ hitchspot.description }}</span>
            </div>

            {% if hitchspot.photos %}
                <br>Photos:<br><br>
                {% for photo in hitchspot.photos %}
                    {% if user.id == hitchspot.user_id or user.is_staff %}
                    <a href="#" class="deletelink" style="margin-left: 10px" onclick="location.href='{% url 'del_photo_from_spot' hitchspot.id photo.0 %}'">Delete</a><br>
                    {% endif %}
                    <img src="{{ photo.4 }}" height="200" style="padding-top: 10px"> &nbsp;<br><br>
                {% endfor %}
                <br>
            {% endif %}

            {% if user.id == hitchspot.user_id %}
                <a href="#" class="button-style" onclick="add_photo(); return false;">Add photo</a>
            {% endif %}

{#            <a href="#new_comment"#}
{#               onclick="$('#title_comment').html('Add new comment:'); $('#parent_comment').val('');">Add comment</a>#}

            <div id="comments-holder" class="comments-holder">

                Comments:
                <div id="comment-subholder"></div>

                {% for comment in hitchspot.comments %}
                    <div class="comment">
                        <div id="comment_id_{{ comment.id }}" class="comment-timestamp">
                            {{ comment.creation_date }} – {{ comment.user.username }} {% if comment.likes != None %}{{ comment.likes }}{% else %}0{% endif %} <a href="/hitchspot/{{ hitchspot.id }}/like_spot_comment/?comment_id={{ comment.id }}" class="button-style" style="margin-top: 10px">❤️</a> <a href="#new_comment"
                                                                                         onclick="$('#title_comment').html('Add reply to comment {{ comment.creation_date }} – {{ comment.user.username }}:'); $('#parent_comment').val({{ comment.id }});">Reply</a>

                            {% if perms.hitchify.change_comment or comment.user_id == user.id %}
                                <a href="#" class="changelink" style="margin-left: 10px"
                                   onclick="edit_comment({{ comment.id }}); return false;">Edit</a>

                                {% if not comment.sub_comments %}
                                    <a href="#" class="deletelink" style="margin-left: 10px"
                                       onclick="del_comment({{ comment.id }}); return false;">Delete</a>
                                {% endif %}

                            {% endif %}

                        </div>

                        <div class="comment-content" id="comment_text_{{ comment.id }}">{{ comment.body_text }}</div>

                        {% for subcomment in comment.sub_comments %}
                            <div class="comment" style="padding-left: 50px">
                                <div class="comment-timestamp">
                                    {{ subcomment.creation_date }} – {{ subcomment.user.username }}

                                    {% if perms.hitchify.change_comment or subcomment.user_id == user.id %}
                                        <a href="#" class="changelink" style="margin-left: 10px"
                                           onclick="edit_comment({{ subcomment.id }}); return false;">Edit</a>
                                        <a href="#" class="deletelink" style="margin-left: 10px"
                                           onclick="del_comment({{ subcomment.id }}); return false;">Delete</a>
                                    {% endif %}

                                </div>

                                <div class="comment-content"
                                     id="comment_text_{{ subcomment.id }}">{{ subcomment.body_text }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                <br>
                <div id="new_comment" class="predefined-comment">
                    <form action="{% url 'add_comment_to_hitchspot' hitchspot.id %}" method="post">
                        {% csrf_token %}
                        <div id="title_comment">Add new comment:</div>
                        <input id="parent_comment" type="hidden" name="parent_comment" value="">
                        <textarea required name="body_text" rows="7" cols="60"></textarea>
                        <br>
                        <button type="submit" class="button-style">Add comment</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">
    </div>

    <div id="dialog_e" style="display: none">
    </div>

    <div id="dialog_d" style="display: none">
    </div>

    <div id="dialog_z" style="display: none">
    </div>

    <div id="dialog_p" style="display: none">
    </div>

    <script>

        let form_photo = '<form action="/hitchspot/{{ hitchspot.id }}/add_photo/" method="post">' +
            '{% csrf_token %}' +
            'URL:<br>' +
            '<input id="photo_url" name="photo_url">' +
            '<br><br> ' +
            '<button type="submit" class="button-style">Add photo</button>' +
            '</form>';

        function add_photo() {
            $('#dialog_p').prop('title', 'Add photo');
            $('#dialog_p').html(form_photo);

            $("#dialog_p").dialog({
                width: 550,
                modal: true,
                position: { my: "center", at: "top+300", of: window }
            });
        }

        let form_feedback = '<form action="/hitchspot/{{ hitchspot.id }}/add_feedback/" method="post">' +
            '{% csrf_token %}' +
            'Hitchability (1-5): ' +
            '<select id="avg_hitchability" name="avg_hitchability" style="padding:0">' +
            '<option value="1">1</option>' +
            '<option value="2">2</option>' +
            '<option value="3">3</option>' +
            '<option value="4">4</option>' +
            '<option value="5">5</option>' +
            '</select>' +
            '<br><br>Waiting time (min): <input style="width:40px" id="avg_waiting_time" name="avg_waiting_time" type="number" min="0">' +
            '<br><br><br>' +
            '<button type="submit" class="button-style">Submit feedback</button>' +
            '</form>';

        function add_feedback() {
            $('#dialog').prop('title', 'Add feedback');
            $('#dialog').html(form_feedback);

            $("#dialog").dialog({
                width: 300,
                height: 200,
                modal: true,
                position: {my: "center", at: "top+300", of: window}
            });
        }

        let form_post = '<form action="/hitchspot/{{ hitchspot.id }}/edit" method="post">' +
            '{% csrf_token %}' +
            'Title:<br>' +
            '<input id="edit_title" name="title">' +
            '<br>Text:<br>' +
            '<textarea id="edit_body_text" name="body_text" style="width:400px; height:300px"></textarea>' +
            '<br>' +
            '<button type="submit" class="button-style">Edit</button>' +
            '</form>';

        function edit() {
            $('#dialog').prop('title', 'Edit hitchspot');
            $('#dialog').html(form_post);

            $('#edit_title').val($('#post_title').html());
            $('#edit_body_text').val($('#body-text').html());

            $("#dialog").dialog({
                width: 550,
                modal: true,
                position: {my: "center", at: "top+300", of: window}
            });
        }

        let form_comment = '<form action="/hitchspot/{{ hitchspot.id }}/edit_comment/" method="post">' +
            '{% csrf_token %}' +
            '<input id="comment_id" name="comment_id" type="hidden">' +
            '<br>Text:<br>' +
            '<textarea id="edit_body_text" name="body_text" style="width:400px; height:300px"></textarea>' +
            '<br>' +
            '<button type="submit" class="button-style">Edit</button>' +
            '</form>';

        function edit_comment(id) {
            $('#dialog_e').prop('title', 'Edit comment');
            $('#dialog_e').html(form_comment);

            $('#comment_id').val(id);
            $('#edit_body_text').val($('#comment_text_' + id).html());

            $("#dialog_e").dialog({
                width: 550,
                modal: true,
                position: {my: "center", at: "top+300", of: window}
            });
        }

        let form_comment_del = '<form action="/hitchspot/{{ hitchspot.id }}/del_comment/" method="post">' +
            '{% csrf_token %}' +
            '<input id="comment_del_id" name="comment_id" type="hidden">' +
            '<br>Text: ' +
            '<span id="edit_body_text_del"></span>' +
            '<br><br>' +
            '<button type="submit" class="button-style">Delete</button>' +
            '</form>';

        function del_comment(id) {
            $('#dialog_d').prop('title', 'Delete comment');
            $('#dialog_d').html(form_comment_del);

            $('#comment_del_id').val(id);
            $('#edit_body_text_del').html($('#comment_text_' + id).html());

            $("#dialog_d").dialog({
                width: 550,
                modal: true,
                position: {my: "center", at: "top+300", of: window}
            });
        }

        $('#map').height(300);
        $('#map').width(400);

        let customIcon = '/static/hotpoint_orange.png';
        let map;
        let markers = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng({{ hitchspot.latitude }}, {{ hitchspot.longitude }}),
                zoom: 10,
                mapTypeControl: false,
                streetViewControl: false,
                gestureHandling: 'greedy'
            });

            let lt = parseFloat({{ hitchspot.latitude }});
            let ln = parseFloat({{ hitchspot.longitude }});
            let point = new google.maps.LatLng(lt, ln);
            let img = customIcon;

            let marker = new google.maps.Marker({
                map: map,
                position: point,
                icon: img,
                zIndex: 1
            });

            let infoWindow = new google.maps.InfoWindow({
                content: '<div class="text_on_map">Average hitchability (1-5): {{ hitchspot.avg_hitchability }}<br>Average waiting time: {{ hitchspot.avg_waiting_time }} min</div>'
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });

            markers.push(marker);
        }


    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALYpitR1YqY3DPBTR8T1IjWEQAmZ_yKPQ&language=en&callback=initMap"></script>

{% endblock %}
