{% extends "base_generic.html" %}

{% block content %}
<div class="sub-container">
    <div class="sub-container-title">🗺️ Map</div>
	
	<div style="margin-top:10px" id="map"></div>

</div>

<script>

	$(document).ready(function () {

		let ww = $('.frame').width()-120;
		let hh = $(window).height()-200;

		$('#map').height(hh);
		$('#map').width(ww);

	});

	let xml_url = "{% url 'map_xml' %}";
	let flat = 48;
	let flng = 17;

	let customIcon = '/static/hotpoint_orange.png';

	let map;

	let markers = [];

	function downloadUrl(url, callback) {
		let request = window.ActiveXObject ?
			new ActiveXObject('Microsoft.XMLHTTP') :
			new XMLHttpRequest;

		request.onreadystatechange = function() {
			if (request.readyState == 4) {
				request.onreadystatechange = doNothing;
				callback(request, request.status);
			}
		};

		request.open('GET', url, true);
		request.send(null);
	}

	function doNothing() {}

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: new google.maps.LatLng(flat, flng),
			zoom: 5,
			mapTypeControl: false,
			streetViewControl: false,
			gestureHandling: 'greedy'
		});

		downloadUrl(xml_url, function(data) {
			let xml = data.responseXML;

			let marker = xml.documentElement.getElementsByTagName('marker');
			Array.prototype.forEach.call(marker, function(markerElem) {

				let desc = markerElem.getAttribute('desc');
				let av_h = parseFloat(markerElem.getAttribute('av_h'));
				let av_wt = parseFloat(markerElem.getAttribute('av_wt'));

				let lt = parseFloat(markerElem.getAttribute('lat'));
				let ln = parseFloat(markerElem.getAttribute('lng'));
				let id = parseFloat(markerElem.getAttribute('id'));

				let point = new google.maps.LatLng( lt, ln);

				let img = customIcon;

				let marker = new google.maps.Marker({
					map: map,
					position: point,
					icon: img,
					zIndex: 1
				});

				let infoWindow = new google.maps.InfoWindow({
					content: '<div class="text_on_map">Average hitchability (1-5): '+av_h +'<br>Average waiting time: '+av_wt+' min<br>Description: ' +desc+'<br><br><a style="color: grey; text-decoration: underline" href="/hitchspot/'+id+'">Open spot info</a></div>'
				});

				marker.addListener('click', function() {
					infoWindow.open(map, marker);
				});
				
				markers.push(marker);
			});
		});
	}

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALYpitR1YqY3DPBTR8T1IjWEQAmZ_yKPQ&language=en&callback=initMap"></script>
	
{% endblock %}
